@model IEnumerable<UserApplication2.Models.UserApp>

@{
    ViewBag.Title = "UserRolesManager";
}

<h2>UserRolesManager</h2>

<p>
    @Html.ActionLink("Assign a role to a user", "Create")
</p>
<table class="table table-bordered table-striped table-hover" >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        @foreach (var item in Helper.GetRoles())
        {
            <th>
                @item.Name
            </th>
        }
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("userId",item.Id)
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>

            foreach (var role in Helper.GetRoles())
            {
                <th>
                    <input type="checkbox" value="@role.Name" name="RoleNames" checked="@item.Roles.Any(r=>r.RoleId==role.Id)" />
                </th>
            }
            <td>
                <input class="btn btn-danger" type="submit" name="name" value="Update" />
                @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
            </td>
        }
    </tr>
}

</table>
